{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    
    <nav style="margin-top: 3rem;">
        <h2>Galleries</h2>
        <ul>
            <li><a href="https://antisocial.fiverings.photo">Antisocial Gallery</a></li>
            <li><a href="https://defcon.fiverings.photo">DEFCON Photography</a></li>
            <li><a href="https://goons.fiverings.photo">Goons Gallery</a></li>
            <li><a href="https://about.fiverings.photo">About</a></li>
        </ul>
    </nav>
</main>
{{ end }}